USE [owso_db]
GO
/****** Object:  Table [dbo].[tbl_test]    Script Date: 6/28/2020 9:24:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_test](
	[code] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL
) ON [PRIMARY]
GO
